.can-help-align {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.general-baseline {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.can-help-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.client-card-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.can-help-baseline {
    position: relative;
    top: 10%;
}

.contact-us-pad {
    padding-left: 5px;
}

/* help-feat styling */

.color-height {
    height: 120px;
}

.helpfeat-img-pad {
    padding: 0px 102px;
}

.img-text {
    margin: 18px 0px;
}

.img-text-side {
    margin: 0px 25px;
}

.med-margin-18 {
    margin: 18px 0px 80px 0px;
}

.sml-margin-18 {
    margin: 18px 0px 50px 0px;
}