/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

button {
    cursor: pointer;
}

/* Montserrat font */
.mont-font {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.01em;
    text-align: center;
}

/* Inter font */
.inter-font {
    font-family:  'Inter', sans-serif;
    letter-spacing: -0.01em;
    text-align: center;              
}

.big-letter-space {
    letter-spacing: -0.04em;
}

.sml-weight {
    font-weight: 600;
}

.borderbtn{
    background-color: white;
    border: 4px solid;
    /* padding: "16.9px 45px"; */
    border-radius: 50px;
}

.no-underline {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}
