/* Car image */

.bg-carImg {
    background-image: url('E:/100 days of code/MRHQL5-Missions/mission5/mission5/src/assets/intro-img.png');
    height: 907px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.quote-btns {
    height: 80px;
    margin-right:10px;
}

.text-section {
    padding: 268px 192px;
}

/* Texts */

h1 {
    color: white;
    text-align: left;
    font: 700 80px white;
    margin: 0;
}

h2 {
    color: white;
    margin: 0;
    width: 504px;
    font: 400 30px white;
    padding: 0px 5px;
}

.text {
    width: 635px;
    margin-bottom: 112px;
    padding: 0px 5px;
}

