.section-pad {
    background-color: #F3F4F6;
    margin: 0;
    padding: 52px 150px;
}

.section-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 41px 0px;
}

.policy-cards {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 59px 0px;
    width: 100%;
}